SECRET_ACCESS_TOKEN='key'
SECRET_REFRESH_TOKEN='key'

# this key to set setting guard if this field is not exist, user get a 403 error on controllers thet are protected by setting guard
RUN_MODE='' # 'setting' or empty

PORT=4000

# disable guards
ACCESS_TOKEN_GUARD_DISABLE='' # 'true' or empty
REFRESH_TOKEN_GUARD_DISABLE='' # 'true' or empty
MEMBERSHIP_GUARD_DISABLE='' # 'true' or empty
BOARD_GUARD_DISABLE='' # 'true' or empty
COORDINATOR_GUARD_DISABLE='' # 'true' or empty
CHECK_TOKEN_GUARD_DISABLE='' # 'true' or empty

#postgreSQL
DB_HOST=127.0.0.1
DB_PASSWORD=root
DB_USER=root
DB_NAME=auth-service
DB_PORT=5432
DATABASE_URL=postgres://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}